<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mabuya.lindor.mobilehealthacre_android_services">

    <application
        android:name=".config.util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MobileHealthcareActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.Impl.RegisterAccountServiceImpl" />
        <service android:name=".services.Impl.GetPlanServiceImpl" />

        <activity android:name=".Register" />
        <activity android:name=".Preview" />
        <activity android:name=".Display"></activity>
    </application>

</manifest>